greenhouse_url = https://boards-api.greenhouse.io/v1/boards


environment = 

LLM_API_URL = 
NVIDIA_API_KEY = 
HF_TOKEN = 
HF_URL = 
OPENAI_API_KEY=
OPENROUTER_API_KEY=

NEW_RELIC_LICENSE_KEY=
new_relic_user_key=
NEW_RELIC_LOG_URL=

OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_PROTOCOL=
OTEL_EXPORTER_OTLP_HEADERS=